* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    background-image: url(wallpaper.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 40px;
  }
  
  form {
    width: 800px;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.6);
    color: #ffffff;
    padding: 10px 0px 10px 0px;
    min-height: 70vh;
    max-width: 50%;
    margin: auto;
    border: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 15px 15px 0px 0px;
  }
  
  h2 {
    margin-left: 25px;
    margin-top: 30px;
    width: 125px;
    color: white;
    font-size: 18px;
    font-weight: 700;
  }
  
  .info-kamu input {
    margin: 0.5rem 2rem 0.5rem 2rem;
    min-height: 2rem;
    border: none;
    font-family: "Montserrat", sans-serif;
    padding-left: 1rem;
    border-radius: 0.5rem;
  }
  
  .info-kamu {
    display: flex;
    flex-direction: column;
  }
  
  .info-kamu label {
    margin: 0rem 2rem 0rem 2rem;
    padding-top: 10px;
  }

  .radio {
      display: inline-block;
      padding-right: 70px;
      font-family: "Montserrat", sans-serif;
      margin-left: 25px;
      margin-top: 15px;
      color: white;
  } 
  
  .profil-kamu {
    display: flex;
    flex-direction: column;
  }
  
  .profil-kamu label {
    margin: 0rem 2rem 0rem 2rem;
    padding-top: 10px;
  }
  
  .profil-kamu input {
    margin: 0.5rem 2rem 0.5rem 2rem;
    min-height: 2rem;
    border: none;
    font-family: "Montserrat", sans-serif;
    padding-left: 1rem;
    border-radius: 0.5rem;
  }
  
  textarea {
    margin: 0.5rem 2rem 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
  }
  
  select {
    margin: 0.5rem 2rem 1rem 2rem;
    min-height: 2rem;
    border: none;
    border-radius: 0.5rem;
    padding-left: 1rem;
    outline: none;
    overflow: hidden;
  }

  button {
    position: relative;
    margin: 2rem;
    border: none;
    min-height: 2rem;
    background-color: #b1d182;
    color: white;
    font-weight: 400;
    font-size: large;
    border-radius: 3rem;
    cursor: pointer;
  }

  
  .minat {
    margin: 1rem 0rem 1rem 2rem;
    border-radius: 3rem;
    position: relative;
    
  }
  
  .tes input {
    margin: 0rem 0.5rem 1rem 2rem; 
    width: 125px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }